[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yhy = {editable = true,path = "."}

[dev-packages]
"flake8" = "*"
keyring = "*"
requests = ">=2.20.0"
twine = "*"
lxml = "*"

[requires]
python_version = "3.6"
