[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yhy = {editable = true, path = "."}

[dev-packages]
twine = "*"
keyring = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
